.btn {
    border-radius: 30px;
    border: 3px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #eb2f62;
}

.btn:active {
    color: #edb4c4;
}

.download__btn {
    width: 280px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.photo-filter__btn {
    color: #d22856;
    border-color: #d22856;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    background-color: transparent;
    margin-bottom: 10px;
    
    &:last-child {
        margin-bottom: 0px;
    }
    
    &:hover {
        background-color: #d22856;
        color: white;
    }
    
    &:active {
        color: #e06989;
    }
}

.photo-filter__btn_disabled {
    color: #283645;
    border-color: #283645;
    opacity: 0.1;
    
    &:hover {
        background-color: transparent;
        color: black;
        opacity: 0.3;
    }
    
    &:active {
        background-color: #283645;
        color: #b5b9be;
    }
}

@media @tablet-width {
    .download__btn {
        width: 290px;
    }
}

@media @desktop-width {
    .photo-filter__btn {
        margin: 0;
    }
}