.inputs-legend {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 35px;
    left: 5px;
    right: 5px;
    
    box-sizing: border-box;
}

.inputs-legend_mobile {
    display: none;
}

@media @tablet-width {
    .inputs-legend {
        position: static;
    }
    
    .inputs-legend_mobile {
        display: block;
    }
}