.inputs-radio {
    width: auto;
    background-color: #f2f2f2;
    border: none;
    padding-bottom: 1px;
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    position: relative;
}

.inputs-radio_mobile-order-four {
    order: -1;
}

.input-radio {
    display: flex;
    margin-bottom: 35px;
}

.input-radio__icon {
    display: flex;
    margin-right: 25px;
    width: 39px;
    height: 39px;
    background-color: white;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    &:hover {
        border-color: black;
    }
    
    &:active {
        border-color: #d22856;
    }
    
    &::after {
        content: "";
        width: 0px;
        height: 0px;
        border-radius: 50%;
    }
}

.input-radio__input:checked ~ .input-radio__icon::after {
    width: 15px;
    height: 15px;
    background-color: #d22856;
    transition: all 0.1s ease;
}

.input-radio__input {
    display: none;
}


@media @tablet-width {
    .inputs-radio {
        background-color: transparent;
        border: 2px solid #e5e5e5;
        box-sizing: border-box;
        padding-top: 50px;
        margin-top: 0px;
    }
    
    .inputs-radio_mobile-order-four {
    order: 0;
    }
}

@media @desktop-width {
    .inputs-radio_mobile-order-four {
        width: 435px;
    }
}