.contacts {
    background-color: white;
    padding-top: 40px;
    text-align: center;    
}

.contacts__wrapper {
    .container();
}

.contacts__title {
    margin: 0;
    margin-bottom: 15px;
}

.contacts__information {
    padding-top: 20px;
}

.contacts__information p {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.contacts__triangle {
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

.contacts__triangle-icon {
    fill: white;
}

.contacts__map {
    overflow: hidden;
    position: relative;
    height: 200px;
    
    iframe {
        width: 100%;
    }
}


@media @tablet-width {
    .contacts {
        padding-top: 43px;
    }
    
    .contacts__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .contacts__title {
        flex-basis: 100%;
    }
    
    .contacts__information:last-child {
        margin-left: auto;
        margin-right: auto;
        width: 220px;
    }
    
    .contacts__map {
        height: 380px;
    }
}

@media @desktop-width {
    .contacts {
        padding-top: 60px;
        position: relative;
        
    }

    .contacts__information {
        margin: 0;
        padding-top: 35px;
        padding-bottom: 10px;
    
    }
    
    .contacts__information:nth-of-type(2) {
        order: 2;
    }
    
    .contacts__information:last-child {
        margin: 0;
    }
    
    .contacts__information p {
        padding-top: 20px;
    }
    
    .contacts__triangle {
        width: 100%;
        left: 50%;
        margin-left: -50%;
    }
}