.download {
    background-color: #1d2631;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.download__title {
    display: none;
}

@media @tablet-width {
    .download {
        width: 300px;
        background-color: transparent;
        position: absolute;
        top: 0%;
        left: 20px;
    }
    
    .download__title {
        display: block;
    }
}

