.effect-hour {
    padding-top: 60px;
    padding-bottom: 70px;
    display: none;
    background-color: white;
}

.effect-hour__wrapper {
    .container();
    width: auto;
    display: flex;
}

.effect-hour__header {
    display: block;
    color: black;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.effect-hour__icon-clock {
    width: 240px;
    height: 277px;
}

.effect-hour__desc {
    padding-top: 30px;
}

.effect-hour__title {
    color: #283645;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.effect-hour__icon {
    
    position: relative;
    margin-right: 70px;

    &::after {
        content: "24";
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        color: #d22856;
        font-size: 96px;
        font-weight: bold;
        top: 50%;
        left: 50%;
        margin-left: -53px;
    }
}

.effect-hour__link {
    color: #d22856;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

@media @tablet-width {
    .effect-hour {
        display: block;
    }
}

@media @desktop-width {
    .effect-hour {
        background-color: #f2f2f2;
        padding-top: 25px;
        padding-bottom: 65px;
    }
    
    .effect-hour__br {
        display: none;
    }
    
    .effect-hour__icon-clock {
        height: 345px;
        width: 300px;
    }
    
    .effect-hour__desc {
        max-width: 570px;
        padding-top: 80px;
    }
    
    .effect-hour__title {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .effect-hour__link {
        font-size: 18px;
    }
}