.information {
    background: #f2f2f2;
}

.information__item-screen {
    display: none;
}

.information__wrapper {
    .container();
    width: auto;
}

.information__header {    
    background-color: white;
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    
    p {
        margin: 0;
    }
    
    p:not(:first-child) {
        margin-top: 30px;
    }
}

.information__list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    overflow: hidden;
}

.information__item {
    margin-bottom: 30px;   
}

.information__title {
    margin-top: 0px;
    margin-bottom: 7px;
}

.information__desc {
    padding: 0;
    margin: 0;
}

.information__screen {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    width: 159px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: -80px;
    
    img {
        width: 139px;
    }
}

@media @tablet-width {    
    .information__header {
        padding-top: 55px;
        
        p:last-child {
            margin-top: 5px;
            padding-left: 130px;
            padding-right: 130px;
        }
    }
    
    .information__list {
        padding-left: 310px;
        padding-bottom: 1px;
        box-sizing: border-box;
        position: relative;
        text-align: left;
        overflow: visible;
    }
    
    .information__item {
        margin-bottom: 35px;
    }
    
    .information__screen {
        align-items: flex-end;
        background-position: top;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: -73px;
        width: 270px;
        height: 480px;
        
        img {
            width: 240px;
        }
    }
}

@media @desktop-width {    
    .information__screen {
        display: none;
    }
    
    .information__item-screen {
        display: flex;
        margin: auto;
        align-items: flex-end;
        justify-content: center;
        background: url(../img/iphone-screen-1-desktop@1x.png) no-repeat center;
        background-size: contain;
        @media @retina {
            background-image: url(../img/iphone-screen-1-desktop@2x.png);
        }
        background-position: center;
        height: 302px;
        position: relative;
        margin-top: -115px;
        
        &_two {
            background: url(../img/iphone-screen-2-desktop@1x.png) no-repeat center;
            background-size: contain;
            @media @retina {
                background-image: url(../img/iphone-screen-2-desktop@2x.png);
            }
        }
        
        &_three {
            background: url(../img/iphone-screen-3-desktop@1x.png) no-repeat center;
            background-size: contain;
            @media @retina {
                background-image: url(../img/iphone-screen-3-desktop@2x.png);
            }
        }
    }
    
    .information__header {
        padding-top: 75px;
        
        p:last-child {
            display: inline-block;
            width: 400px;
        }
    }
    
    .information__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        text-align: center;
    }
    
    .information__item {
        width: 240px;
        display: inline-block;
    }
    
    .information__title {
        margin-bottom: 30px;
    }
}