.intro {
    background: #1d2631 url(../img/bg-back-mobile@1x.jpg) no-repeat top;
    padding-top: 175px;
    
}

.intro__wrapper {
    .container();
    width: auto;
    position: relative;
}

.intro__title {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.intro__phone {
    display: flex;
    justify-content: flex-start;
    margin-left: -20px;
    
    img {
        width: auto;
        height: 287px;
    }
}

@media @tablet-width {
    .intro {
        background: url(../img/bg-back-tablet@1x.jpg) no-repeat top;
        padding-top: 180px;
    }
    
    .intro__wrapper {
        width: auto;
    }
    
    .intro__title {
        font-size: 50px !important;
        font-weight: 300 !important;
        line-height: 65px;
    }
    
    .intro__phone {
        justify-content: flex-end;
        
        img {
            height: 547px;
        }
    }
}

@media @desktop-width {
    .intro {
        background: url(../img/bg-back-desktop@1x.jpg) no-repeat top;
        padding-top: 205px;
    }
    
    .intro__wrapper {
        width: 940px;
    }
    
    .intro__phone {
        padding-right: 40px;
        
        img {
            height: 644px;
        }
    }
}