.like {
    display: flex;
    color: #d22856;
}

.like__like {
    padding-left: 20px;
}

.like__count {
    padding-left: 5px;
}

.like__icon {
    padding-top: 2px;
    & path {
        fill: #d22856;
    }
}

@media @tablet-width {    
    .like {   }
    
    .like__icon_post {
        padding-top: 2px;
    }
    
    .like__like_post {
        padding-left: 0px;
    }
    
    .like__like {
        padding: 0;
    }
    
    .like__icon {
        padding-left: 17px;
        order: 1;
    }
    
}

@media @desktop-width {
    
}