.page-footer {
    .container;
    .clearfix();
    
    padding: 0;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.page-footer__logo {
    margin: 0;
}

.page-footer__social {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.social-svg {
    fill: #d22856;
}

.page-footer__copyright {
    margin: 0;
    padding: 0;
}

.htmlacademy-svg {
    fill: #d22856;
}

.index-footer {
    display: none;
}

@media @tablet-width {    
    .index-footer {
        display: block;
    }
    
    .page-footer {        
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .page-footer__logo {
        float: left;
        min-width: 150px;
        margin: 0;
    }
    
    .page-footer__social {
        float: left;
        min-width: 175px;
        margin: 0;
        margin-left: 72px;
    }
    
    .page-footer__copyright {
        float: right;
    }
}

@media @desktop-width {
    .page-footer {        
        padding-top: 71px;
        padding-bottom: 71px;
    }
    
    .page-footer__social {
        min-width: 200px;
        margin: 0;
        margin-left: 220px;
    }
}