.photolist {
    background-color: white;
}

.photolist__header {
    .container();
    width: auto;
}

.photolist__post {
    margin: 0;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

@media @tablet-width {
}

@media @desktop-width {

    
    .photolist__title {
        padding-left: 150px;
        padding-right: 150px;
    }
}