.photo-filter {
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.photo-filter__wrapper {
    .container();
    width: auto;
    overflow: hidden;
}

.photo-filter__photo {
    margin-bottom: 40px;
    
    img {
        width: 100%;
        display: block;
    }
}

.photo-filter__user-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        width: auto;
        height: 1px;
        background-color: black;
        bottom: 0;
        left: -20%;
        right: -20%;
        opacity: 0.1;
    }
}

.photo-filter__icon {
    
    svg {
        width: 50px;
        height: 50px;
        opacity: 0.3;
    }
    
    &:hover {
        svg {
            opacity: 1;
            fill: #d22856;
            cursor: pointer;
        }
    }
    
    &_crop svg {
        width: 44px;
        height: 44px;
    }
    
    &_fill svg {
        width: 48px;
        height: 43px;
    }
    
    &_light svg {
        width: 42px;
        height: 42px;
    }
}

.photo-filter__line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    
    &_mobile {
        display: inline-flex;
        order: 1;
    }
}

.photo-filter__line-circul {
    width: 12px;
    height: 12px;
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
    cursor: pointer;
}

.photo-filter__buttons {
    .container();
    width: auto;
    display: flex;
    margin-top: 30px;
    flex-flow: column wrap;
}


@media @tablet-width {
    .photo-filter {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .photo-filter__photo {
        min-width: 300px;
        margin: 0;
    }
    
    .photo-filter__user-panel {
        width: auto;
        min-height: 200px;
        padding: 0;
        flex-direction: column;
        
        &::after {
            display: none;
        }
    }
    
    .photo-filter__icon {
        margin-right: 25px;
        
        svg {
            width: 25px;
            height: 25px;
            fill: #d22856;
            opacity: 1;
        }
    }
    
    .photo-filter__crop,
    .photo-filter__fill,
    .photo-filter__contrast {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dddfe0;
        margin-bottom: 30px;
    }
    
    .photo-filter__line {
        display: inline-flex;
        margin: 0;
        min-width: 200px;
        
        &_mobile {
            display: none;
        }
    }
    
    .photo-filter__buttons {
        width: 300px;
        margin: 0;
        padding: 0;
    }
    
    .photo-filter__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .photo-filter__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media @desktop-width {
    .photo-filter {
        padding: 0;
        background-color: white;
    }
    
    .photo-filter__wrapper {
        background-color: #f2f2f2;
        padding-left: 80px;
        padding-right: 60px;
        padding-top: 55px;
        padding-bottom: 56px;
        box-sizing: border-box;
    }
    
    .photo-filter__icon {
        margin-right: 25px;
        
        svg {
            width: 35px;
            height: 35px;
            fill: #d22856;
            opacity: 1;
        }
    }
    
    .photo-filter__crop,
    .photo-filter__fill,
    .photo-filter__contrast {
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    
    .photo-filter__user-panel {
        width: 410px;
    }
    
    .photo-filter__buttons {
        width: 410px;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .photo-filter__btn {
        width: 185px;
        
    }
}