.post {
}

.post__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.post__photo {
    overflow: hidden;
    height: 180px;
    display: flex;
    align-items: center;
}

.post__photo img {
    width: 100%;
}

.post__title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    background-color: #d22856;
}

.post__desc {
    margin: 0;
}


@media @tablet-width {
    .post {
        height: auto;
    }
    
    .post__wrapper {
        height: 155px;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    
    .post__photo {
        width: 300px;
        height: 300px;
    }
    
    .post__reivew {
        width: 240px;       
    }
}

@media @desktop-width {
    .post__photo {
        height: 400px;
    }
}