.reivews {
    background-color: white;
    text-align: center;
}

.reivews__wrapper {
    .container();
    width: auto;
}

.reivews__list {
    display: flex;
}

.reivew__item {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 45px;
    flex-direction: column;
}

.reivews__text {
    margin: 0px;
    margin-top: 10px;
}

.reivews__toggles {
    padding-top: 30px;
    padding-bottom: 40px;
}

.reivews__author {
    width: 100%;
    order: -1;
}

.reivews__author-name {
    font-style: normal;
    display: block;
}

.reivews__author-info {
    display: none;
    font-weight: 400;
}

.reivews__triangle {
    fill: white;
}

@media @tablet-width {
    .reivew__item {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    
    .reivews__text {
        margin: 0;
        font-size: 18px;
        
    }
    
    .reivews__author {
        margin-top: 30px;
        order: 1;
    }
    
   .reivews__author-info {
        display: inline-block;
    }
    
    .reivews__author {
        position: static;
    }
}

@media @desktop-width {
    .reivews {
        padding-top: 75px;
    }
    
    .reivews::before {
        content: "";
        display: block;
        margin: auto;
        width: 79px;
        height: 63px;
        background: url(/img/quotes.png) no-repeat center;
    }
    
    .reivew__item {
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 130px;
        padding-right: 130px;
    }
    
    .reivews__control {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        margin-top: -90px;
        left: 7px;
        right: 7px;
    }
}