.section-title {
    background-color: white;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

@media @tablet-width {
    .section-title {
        font-size: 18px !important;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media @desktop-width {

}