.upload {
    background-color: white;
}

.upload__title {
    padding-top: 20px;
    padding-bottom: 40px;
}

.upload__header {
    .container();
    width: auto;
}

@media @tablet-width {
    .upload__title {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media @desktop-width {
    .upload {
        
    }
    
    .upload__header {
        padding-left: 0;
        padding-right: 0;
    }
    
}